<app-common-filter (newItemEvent)="getEvent($event)"></app-common-filter>
<ion-content [fullscreen]="true">
  <ion-searchbar
    showcancelbutton=""
    (ionInput)="filterList($event)"
  ></ion-searchbar>
  <ion-list *ngIf="dueData.length">

    <ion-item *ngFor="let i of dueData">
      <ion-avatar style="margin: auto;">
        <img  [src]="i.img">
      </ion-avatar>
      <ion-label style="margin-left: 1rem;">
        <h2>{{i.name}}</h2>
        <p>{{i.mobile}}</p>
        <p style="color: red">Due in {{i.duedate}}</p>
      </ion-label>
      <p item-right style="font-weight: bold;color: #4527A0;font-size: 1.3rem;">
        {{i.daysCount}} {{i.daysCount < 2 ? 'Day' : 'Days'}}
      </p>
    </ion-item>
  
  </ion-list>

  <div style="display: flex;justify-content: center;align-items: center;font-weight: bold;margin-top: 3rem;"  *ngIf="!dueData.length">
    No Upcoming Dues Found
  </div>
</ion-content>
