<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar-background toolbar-background-ios"></div>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;font-weight: normal;">Transactions</ion-title>
  </ion-toolbar>
</ion-header>
<app-common-filter (newItemEvent)="getEvent($event)"></app-common-filter>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="newPackage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-virtual-scroll [items]="history" *ngIf="history.length" approxItemHeight="115px" [itemHeight]="itemHeightFn">
      <ion-item-sliding *virtualItem="let item">
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(item.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  
      <ion-item>
        <ion-label>
          <p>Plan : {{item.name}} ({{item.details}})</p>
          <p>Amount : ₹{{item.totalpaid}}</p>
          <p>Paid Date : {{item.paymentdate}}</p>
          <p>Comments : {{item.comments}}</p>
        </ion-label>
        <ion-icon name="chevron-forward" item-right></ion-icon>
      </ion-item>

    </ion-item-sliding>
    </ion-virtual-scroll>
    <ion-item lines="none" *ngIf="(this.history.length == this.totalGym) || (this.history.length == this.totalAd)" style="     display:block;
    text-align: center;">
      <ion-label><p style="font-weight: bold;">End of Results</p></ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll  (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>