<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar-background toolbar-background-ios"></div>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;font-weight: normal;">Customer Management</ion-title>
  </ion-toolbar>
  <ion-searchbar style=" background-color: white !important;"
  showcancelbutton=""
  (ionInput)="filterList($event)"
  ></ion-searchbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addCustomer()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-virtual-scroll [items]="customerData" *ngIf="customerData.length" approxItemHeight="68px" [itemHeight]="itemHeightFn">
      <ion-item-sliding *virtualItem="let item">
        <ion-item-options side="end">
          <ion-item-option (click)="navigateEdit(item.id)">
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="presentAlertConfirm(item.id)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
          <ion-item-option (click)="navigatePackage(item.id)" color="secondary">
            <ion-icon slot="icon-only" name="barbell"></ion-icon>
          </ion-item-option>
        </ion-item-options>
    
        <ion-item>
          <ion-avatar style="margin: auto;" (click)="imagePreview(item.img)">
            <img  [src]="item.img">
          </ion-avatar>
          <ion-label style="margin-left: 1rem;">
            <h2>{{item.name}}</h2>
            <p>{{item.mobile}}</p>
          </ion-label>
          <ion-icon name="chevron-forward" item-right></ion-icon>
        </ion-item>
  
      </ion-item-sliding>
    </ion-virtual-scroll>
  <ion-item lines="none" *ngIf="this.customerData.length == this.totalCustomer" style="     display:block;
  text-align: center;">
    <ion-label><p style="font-weight: bold;">End of Results</p></ion-label>
  </ion-item>
  </ion-list>

  <ion-infinite-scroll  (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div style="display: flex;justify-content: center;align-items: center;font-weight: bold;margin-top: 3rem;"  *ngIf="!customerData.length">
    No Customer Found
  </div>

</ion-content>
