<ion-header>
  <ion-toolbar>
    <ion-title>balance-settle-popup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="customerForm">
  <ion-item lines="full">
    <ion-label position="floating">Balance to Pay</ion-label>
    <ion-input type="number" formControlName="balance"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Paid Amount</ion-label>
    <ion-input type="number" formControlName="amount"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Balance Amount</ion-label>
    <ion-input type="number" formControlName="balamount" [readonly]="true"></ion-input>
  </ion-item>
  
  <ion-item lines="full">
    <ion-label position="floating">Payment Date</ion-label>
    <ion-input type="text" formControlName="paydate" (click)="showCalender()" [readonly]="true"></ion-input>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button type="submit" color="primary" expand="block" [disabled]="!customerForm.valid" (click)="decideSave()">Save</ion-button>
      <ion-button type="submit" color="danger" expand="block" (click)="closePop()">Cancel</ion-button>
    </ion-col>
  </ion-row>
</form>
</ion-content>
