<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar-background toolbar-background-ios"></div>
    <ion-title style="color: white;font-weight: normal;">New Transaction</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="customerForm">
    <ion-item lines="full" >
      <ion-label>Package</ion-label>
      <ion-select placeholder="Select Package" formControlName="package" (ionChange)="packageChange()">
        <ion-select-option [value]="i.packageid" *ngFor="let i of package">{{i.name}} ({{i.details}}) - ₹{{i.fees}}</ion-select-option>
      </ion-select>
</ion-item>

<ion-item lines="full">
  <ion-label position="floating">Fees</ion-label>
  <ion-input type="number" formControlName="Fees" [readonly]="true"></ion-input>
</ion-item>

<ion-item lines="full">
  <ion-label position="floating">Total Paid</ion-label>
  <ion-input type="number" formControlName="totalpaid"></ion-input>
</ion-item>

<ion-item lines="full">
  <ion-label position="floating">Balance</ion-label>
  <ion-input type="number" formControlName="balance" [readonly]="true"></ion-input>
</ion-item>

<ion-row>
<ion-item lines="full">
  <ion-label position="floating">Payment Date</ion-label>
  <ion-input type="text" formControlName="paydate" (click)="showCalender('paydate')" [readonly]="true"></ion-input>
</ion-item>

<ion-item lines="full">
  <ion-label position="floating">Next Due Date</ion-label>
  <ion-input type="text" formControlName="duedate" (click)="showCalender('duedate')" [readonly]="true"></ion-input>
</ion-item>

<ion-item lines="full">
  <ion-label position="floating">Comments</ion-label>
  <ion-input type="text" formControlName="comments"></ion-input>
</ion-item>

</ion-row>
  </form>

  <ion-row>
    <ion-col>
      <ion-button type="submit" color="danger" expand="block" (click)="closePop()">cancel</ion-button>
    </ion-col>
    <ion-col>
      <ion-button type="submit" expand="block" [disabled]="!customerForm.valid" (click)="decideSave()">Add</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
